In [2]:
#dependencies
import pandas as pd

In [9]:
#set file path
school_info = os.path.join("Resources","schools_complete.csv")
students_info = os.path.join("Resources","students_complete.csv")

#read data
school_data = pd.read_csv(school_info)
student_data = pd.read_csv(students_info)

#merge the files for one data set
student_school_data = pd.merge(school_data, student_data, how = "left", on =["school_name","school_name"])
student_school_data.head()

,School ID,school_name,type,size,budget,Student ID,student_name,gender,grade,reading_score,math_score
0,0,Huang High School,District,2917,1910635,0,Paul Bradley,M,9th,66,79
1,0,Huang High School,District,2917,1910635,1,Victor Smith,M,12th,94,61
2,0,Huang High School,District,2917,1910635,2,Kevin Rodriguez,M,12th,90,60
3,0,Huang High School,District,2917,1910635,3,Dr. Richard Scott,M,12th,67,58
4,0,Huang High School,District,2917,1910635,4,Bonnie Ray,F,9th,97,84

District Summary

In [20]:
#number of schools
num_schools = len(student_school_data["school_name"].unique())
#number of students
num_students = student_school_data["student_name"].count()
#total budget
total_budget = student_school_data["budget"].sum()
#avg math score
math_score = student_school_data["math_score"].mean()
#avg reading score
read_score = student_school_data["reading_score"].mean()
#percent passing math
math_passing = (student_school_data[student_school_data["math_score"]>= 70]["math_score"].count()/num_students)*100
#percent passing reading
read_passing = (student_school_data[student_school_data["reading_score"]>= 70]["reading_score"].count()/num_students)*100

In [16]:
#creating a dataframe
district_summary =pd.DataFrame({
    "Total Schools":[num_schools],
    "Total Students":[num_students],
    "Total Budget":[total_budget],
    "Average Math Score":[math_score],
    "Average Reading Score":[read_score],
    "% Passing Math":[math_passing],
    "% Passing Reading":[read_passing]})
#
district_summary.head()

,Total Schools,Total Students,Total Budget,Average Math Score,Average Reading Score,% Passing Math,% Passing Reading
0,15,39170,82932329558,78.985371,81.87784,74.980853,85.805463

School Summary

In [31]:
#school name
individual_school = school_student_data.groupby(["school_name"])
#school type
school_type = individual_school["type"].unique().str[0]
#total students
total_students = individual_school.size()
#total schools budget
schools_budget = individual_school["budget"].first()
#per student budget
per_student_budget = schools_budget/total_students
#avg math score per school
per_school_math = individual_school["math_score"].mean()
#avg reading score per school
per_school_read = individual_school["reading_score"].mean()
#per school math passing
school_math= (student_school_data[student_school_data["math_score"]>= 70].groupby(["school_name"]).size()

#per school reading passing



#Create a dataframe
school_summary =pd.DataFrame({
    "School Name":[individual_school],
    "School Type":[school_type],
    "Total Students":[total_students],
    "Total Schools Budget":[school_budget],
    "Per School Budget":[per_student_budget],
    "Average Math Score":[per_school_math],
    "Average Reading Score":[per_school_read],
    "% Passing Math":[percent_math_passing],
    "% Passing Reading":[percent_reading_passing]})

school_summary.head()

SyntaxError: invalid syntax (<ipython-input-31-a954554532c9>, line 23)